:root{
    --buttonColor: white;
}

.theme {
    display: flex;         
    justify-content: flex-end;  
    width: 100%;         
}

.theme-bttn {
    height: 75px;
    width: 75px;
    overflow: hidden;
    border: 3px solid var(--buttonColor);
    border-radius: 80px;
    background-color: transparent; 
}

.theme-bttn img {
    width: 100%;   
    height: 100%;  
    object-fit: cover; 
    border-radius: 80px;
}

.theme .clicked img{
    animation: spin 0.4s linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100% {
         transform: rotate(360deg); 
    }
}

@media (max-width: 960px){
    .theme {
        display: flex;         
        justify-content: center;        
    }
    
    .theme-bttn {
        margin-top: 8rem;
        margin-bottom:4rem;
    }

}
@media (min-width: 960px){
    .theme-bttn {
        margin-top: 2rem;
        margin-right: 2rem;
    }
}
